.hero{
	display:flex;
	justify-content:center;
	align-items:center;	
	gap:1rem;
}
.hero-para{
	display:flex;
	justify-content:center;
	align-items:center;	
	flex-direction:column;
}
img{
	width:750px;
	height:350px;
	object-fit:cover;
}
button{
	color:white;
	background-color:red;
	padding:6px;
	border-radius:5px;
}
